$background-img: url('resources/2.jpg');
$buttonbg : url('resources/gradient.png');
$card: url('resources/card.jpg');
$shadow-btn: #3f015c;
$backgroud-chat: url('resources/background.PNG');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@mixin shadow($x,$y,$s,$r,$c) {
      box-shadow: $x $y $s $r $c;
      -moz-window-shadow: $x $y $s $r $c;
      -webkit-box-shadow: $x $y $s $r $c;
    }
html {
      height: 100%;
         
}
body{
      color: white;
      height: 100%; 
      background: $backgroud-chat no-repeat center center fixed;
      background-size: cover;
}

#nav{
    
      background: $buttonbg no-repeat center center fixed;
      background-size: cover;
      color: white;
      height: fit-content; 
      font-family: 'Poppins', sans-serif;
      
      a{
            color: white;   
      }
      nav{
            width:100%;
      }  
}

#myApp{
      z-index: 0;
      height: 100%;
      width: 100%;
      display: flex;
      background: $background-img no-repeat center center fixed;
      background-size: cover;
      font-family: 'Poppins', sans-serif;
      
      .row-btns{
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
      }   
}

.outside-card{
      background-color: black;
      position: absolute;
      left: 0; 
      right: 0; 
      margin-left: auto; 
      width: 100%;
      height: 95.5%;
      z-index: 1;
      opacity: 0.8;     
}

.bg-card{
      background-color: white;
      position: absolute;
      left: 0; 
      right: 0;
      top: 25%;
      height: 40%;
      min-width: 360px;
      max-width: 500px;
      min-height: 640px;
      max-height: 720px; 
      margin-left: auto; 
      margin-right: auto; 
      z-index: 2;
  
}

.ctn-card{

      background: $card no-repeat center;
      background-size: cover;
      position: relative;
      display: flex;
      flex-flow: column;
      height: 100%;
      width: 100%;
      color: white;
      align-content: center;
      justify-content: center;
      justify-items: center;
      align-items: center;
      
      form{
            margin-top: 180px;
      }
      
      .user-image{

            background: $buttonbg;
            margin: 25px auto;
            padding: 25px 30px;
            border-radius: 100%;
            border: 1px solid white;          
            font-size: 150%;
      }

      .user-name{
            font-size: 150%;     
      }

      .token,.join{          
      
            display: flex;
            flex-flow:row;
            justify-items: center;
            align-items: center;
            margin: 15px auto;
            padding: 10px 10px;
            border-bottom: 1px solid white;
            @include shadow(0px, 20px, 20px, -20px, white); 

            .token-text{
                  max-width: 480px;
                  min-width: 300px;
                  padding: 15px;
                  margin-right: 10px;
                  font-size: 180%;
                  text-align: center;
      
            }
            input[type = text]{
                  color:inherit;
                  border: 0px;
                  outline: none;
                  background: inherit;           
            }           
      }
}

.join{

      width: 70%;
      justify-content: center;
      margin-top:20px;
      background: none;
      color: white;
      border: none;
      outline:none;
      font-size: 150%;  
      
}

.container-fluid{

      height: 93.6%;
      width: 100%;
      display:flex;
      flex-flow: row;
}
.login-form{

      width: 100%;
      display: flex;
      flex-flow:column;
      align-items: center;
      justify-content: center;
      
      label{
            color: white;
            margin-top: 5px;
      }

      form{
            padding: 25px;
            width: 50%;
            background-image: $backgroud-chat;
            @include shadow(0px, 0px, 15px, 5px,#181818);

            input{
                  outline: none;
                  width: 100%;
                  padding: 5px 20px;
            }
      }

      .login-name{
            display: flex;
            width: 100%;
            font-size: 150%;
            color: white;
            margin-bottom: 10px;
            border-bottom: white 1px solid;
            justify-content: center;
      }

      .form-group{
            display: flex;
            flex-flow: column;
            align-items: center;
           
            input[type ="submit"]{
                  margin-top: 25px;
                  background-image: $buttonbg;
                  border: none;
            }
      }
}

.btn-create{
      margin:0 auto;
      background: $buttonbg;
      background-size: cover;
      padding: 10%;
      opacity: 0.7;
      @include shadow(0px, 0px, 20px, 2px,$shadow-btn);

}
.btn-create:hover{
      opacity: 1;    
}

.p-btn{

      font-size: 250%;
      margin: 0 auto;
      text-align: center;
      color: white;
      opacity: 1;
}

.btn-container{

      padding: 20%;
}

%chat-template{
    
      width: 70px;
      height: 70px;
      z-index: 1;
      border-radius: 100px;
      background: $buttonbg;
      color:white;
      font-size: 36px;
      
}

%chat{
      @extend %chat-template;
      margin-right: 10px;

      div{
            width: 70px;
            height: 70px;
            display: flex;
            align-content: center;
            justify-content: center;
            padding-top: 10px;
      
      }
      
}

.chat-app{
     all:inherit;
     flex-flow:column;
     background: #181818;

}

.chats{
      position: relative;
      width: 100%;
      height: 81px;
      display:flex;
      flex-flow: row-reverse;
      align-content: center;
      justify-content: flex-start;
      margin-top: 25px;
      margin-right: 10px;
      padding-right: 15px;
      
      .chat-room{
            @extend %chat-template;
            @include shadow(0px, 0px, 20px, 2px,$shadow-btn);
            outline: none;
            border: none;

            padding-top: 5px;
            margin-bottom: 11px;
            margin-left: 20px;
           
      }

      .ctn-chat{
            display: block;    
            overflow-x: scroll;
            width: 70%;
            padding-bottom: 5px; 
   
      }
      .ctn-chat::-webkit-scrollbar{
      
            height: 6px;
            background-color: none;
        }
      .ctn-chat::-webkit-scrollbar-track{
            
            border-radius: 10px;
            background-color: none;
        }
      .ctn-chat::-webkit-scrollbar-thumb{
            border-radius: 50px;
            border: 1px solid black;
            background-color: rgb(0, 0, 0);   
        }

      .ctn-chat-btn{
           
            display: flex;
            flex-flow: row-reverse;
            width: fit-content;
            margin-left: auto;
      }

      .chat-mychat{
            @extend %chat;    
      }
      .chat-otherchat{
            @extend %chat;
            border: 1px solid black;
      }

}

.row-chat{
      width: 100%;
      height: 80%;
      margin-top: 5px;
      padding-left:20px;
}

.box{
      color:white;
      height: 100%; 
      display: flex;
      flex-flow: column;
      background-color: #222222;
      opacity: 0.95;
 
      .box-cnt{
            height: 90%;

            .box-msg::-webkit-scrollbar{
                  display:none;
                  
            }    

            .box-chat{
                  height: 90%;
                  width: 90%;
                  position: absolute; 
                  bottom: 10%; 
            
                  .box-msg{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column-reverse;  
                        overflow-y: scroll;
                         
                      
                        %msg-template{
                              display: flex;
                              padding: 0 5%;
                              font-size: 100%;
                              align-items: center;
                              justify-items: flex-start;
                              
                        }
                        %ms-content-tamplate{
                              display: flex;
                              flex-flow: column;
                              width: fit-content;
                              justify-items: flex-start;
                        }

                        %ms-image-template{
                              @extend %chat-template;
                              width: 20px;
                              height: 20px;
                              padding-top:5px;  
                        }

                        .message-rigth{
                              @extend %msg-template;
                              flex-flow: row-reverse;

                              .ms-content{
                                    @extend %ms-content-tamplate;
                                    align-items:flex-end;
                        
                              }

                              .ms-image{
                                    @extend %ms-image-template;
                                    margin-left: 5%;
                              }
                        }

                        .message-left{
                              @extend %msg-template;
                              flex-flow: row;

                              .ms-content{
                                    @extend %ms-content-tamplate;
                                    align-items:flex-start;
                        
                              }
                              .ms-image{
                                    @extend %ms-image-template;
                                    margin-right: 5%;
                              }
                        }         
                                                   
                        .ms-user{
                              opacity:0.8;
                        }
                  }
            }
      }
      
      .input-msg{
            height: 10%;
            display: flex;
            align-content: center;
            justify-content: center;

            form{

                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-content: center;
                  justify-content: center;

                  input{

                        width: 90%;
                        height: 60%;
                        display: flex;
                        padding: 2% 5%;
                        background-color: rgb(46, 46, 46);
                        border: none;
                        border-radius: 10px; 
                        outline-style: none;
                        color: white;
                        font-size: 100%;
            
                  }
            }
      }
}

.name-token{
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      color: white;
      padding: 5px 20px;
      margin-bottom: -10px;

      .chat-name{
            color: white;
            font-size: 150%;
      }
      .chat-token{
            font-size: 100%;
      }
      
}

.champions{
      display: flex;
      flex-flow: column;
      height: 100%; 
      color: white;

      .champions-ctn{
            height: 90%;
      }

      .champions-all{
            display: block;
            overflow-y: auto;
            width: 100%;
            height: 35%;
            position: absolute; 
            
          
      }
      .champions-all::-webkit-scrollbar{
            display:none;
            
      }
      .champions-all-overflow{
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-items: center;
            justify-content: center;
            align-content: flex-start;

      } 

      .champion-outside{
            display: block;
            overflow-y: auto;
            width: 100%;
            height: 60%;
            position: absolute;
            top:40%;
            
      }
      .champion-outside::-webkit-scrollbar{
            display:none;
            
      }

      .champion-bg{
           padding: 20px;
      }

      .champion-ctn{
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-items: center;
            justify-content: center;
            align-content: flex-start;
      }

      .img-stats{
            display: flex;
            flex-flow: row;
            font-size: 100%;
            margin-bottom: 10px;
            margin-top: 10px;

            img{
                  width: 50%;
                  margin-right: 10px;
            }
            .sp-stats{
                  width: 50%;
                  padding-left:5px;
            }      
      }

      .champion-name{
            font-size: 150%;
      }
}


.users-active{
      height: 100%;
      color: white;
      p{
            border-bottom:1px solid white;
      }

      .user-image{
            @extend %chat-template;
            width: 10px;
            height: 10px;
            margin-right: 5px;
      }

      .user-active-ctn{
            display: flex;
            flex-flow: row;  
            align-items: baseline;  
      }
      .user-unactive-ctn{
            display: flex;
            flex-flow: row;
            align-items: baseline; 
      }

      .user-active-box{
            margin-bottom: 25px;
            display: flex;
            flex-flow: column;

            .user-image{
                  background: none;
                  background-color: #0ea700;
            }

      }
      .user-unactive-box{
            display: flex;
            flex-flow: column;
            .user-image{
                  background: none;
                  background-color: #3a3a3a;
            }

      }
}

.progress-bar{
      background-color: $shadow-btn;
      background-image: $buttonbg; 
}


.col-chat{
      width: 100%;
      height: 100%;
      padding-left: 5px;

}
.col-users{
      width: 100%;
      padding: 15px;
}
.col-champions{
      height: 100%;
      width: 100%;
      margin-top:5px;
      margin-bottom: 15px;
}